<?php
/**
 * Lyonscg_BundleTierPrice
 *
 * Adds fixed discount block
 *
 * @author    Alexey Savchenko <asavchenko@lyonscg.com>
 * @copyright 2018 Lyons Consulting Group (www.lyonscg.com)
 */
// @codingStandardsIgnoreFile
?>

<?php
/** @var \Magento\Framework\Pricing\Render\PriceBox $block */

/** @var \Magento\Bundle\Pricing\Price\TierPrice $tierPriceModel */
$tierPriceModel = $block->getPrice();
$tierPrices = $tierPriceModel->getTierPriceList();
?>
<?php if (count($tierPrices)) : ?>
    <ul class="<?= /* @escapeNotVerified */ ($block->hasListClass() ? $block->getListClass() : 'prices-tier items') ?>">
        <?php foreach ($tierPrices as $index => $price) : ?>
            <?php if ($price['percentage_value']): ?>
            <li class="item">
                <?php /* @escapeNotVerified */ echo __(
                    'Buy %1 with %2 discount each',
                    $price['price_qty'],
                    '<strong class="benefit">' . round($price['percentage_value']) . '%</strong>'
                ); ?>
            </li>
            <?php else:
                    $priceAmountBlock = $block->renderAmount(
                        $price['price'],
                        [
                            'price_id'          => $index,
                            'id_suffix'         => '-' . $index,
                            'include_container' => true,
                            'zone' => \Magento\Framework\Pricing\Render::ZONE_ITEM_OPTION
                        ]
                    );
                ?>
                <?php /* @escapeNotVerified */ echo ($block->getShowDetailedPrice() !== false)
                        ? __(
                            'Buy %1 for %2 each and <strong class="benefit">save<span class="percent tier-%3">&nbsp;%4</span>%</strong>',
                            $price['price_qty'],
                            $priceAmountBlock,
                            $index,
                            $tierPriceModel->getSavePercent($price['price'])
                        )
                        : __('Buy %1 for %2 each', $price['price_qty'], $priceAmountBlock);
                ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
